@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --font-p:'Roboto', sans-serif;
    --color-p: #009067;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

